@{
    ViewData["Title"] = "TESTE PRÁTICO";
}

<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>

<div>
    <H3>PRÉ-REQUISITOS</H3>
    <br/>
    <li>Usar arquitetura em 3 camadas (Apresentação, Services e Data).</li>
    <li>Utilizar a linguagem C#, Asp.Net MVC, e Framework 4.5 ou superior</li>
    <li>Criação de pelo menos 4 entidades (Usuários, Clientes, Filmes, Locações).</li>
    <li>Criação dos Serviços e Repositórios para todas as entidades</li>
    <li>Utilizar SQL Server com Entity Framework</li>
    <li>FrontEnd com Bootstrap.</li>
</div>
